html,
body {
    margin: 0;
    padding: 0;
}

.contenedor {
    position: relative;
    min-height: 100vh;
    background-color: #0f172a;
    background-image: url('./assets/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f8fafc;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.base-jugador {
    width: 10vw;
    height: 9vh;
    position: absolute;
    bottom: 0px;
    object-fit: contain;
}
