h1, h2 {
    border-bottom: 2px solid black;
}

.pista {
    width: 30rem;
    height: 9rem;
    padding: 0.5rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #255fac;
    position: relative;
}

.meta {
    width: 0;
    height: 10rem;
    border: 2px dashed black;
    position: absolute;
    top: 0;
    left: 29rem;
}

#carrera-iniciada {
    display: none;
}

.boton{
    font-size: 1.0rem;
    /* padding: 0.5rem; */
    margin: 1rem;
    background-color: #255fac;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.tortuga, .gato, .cohete {
    font-size: 2rem;
    padding-left: 0.5rem;
    border: 1px solid black;
}

#carrera-iniciada:checked ~ .pista div {
    padding-left: 27rem;
}

.tortuga {
    transition: padding-left 4s;
}

.gato {
    transition: padding-left 2s;
}

.cohete {
    transition: padding-left 0.8s;
}
